.product {
  //height: 460px;
  padding: 10px 0;
  div{
    //height: 440px;
    padding: 10px;
    border: 1px solid #cad1d7;
    &:hover{
      box-shadow: 10px 11px 10px -5px rgba(0,0,0,0.18);

    }
    h4{
      font-size: 16px;
    }
    h5{
      font-size:16px;
      font-weight: 700;
      text-align: center;
    }

    img{
      display: block;
      margin: 0 auto
    }
    p{
      margin: 0 6px 0 6px;
    }
    .add_item{
      display: block;
      margin: 5px auto;
    }
  }
}

.change_item_count {
  display: none;
}
