.product {
	padding: 10px 0;
}

.product div {
	padding: 10px;
	border: 1px solid #cad1d7;
}

.product div:hover {
	box-shadow: 10px 11px 10px -5px rgba(0, 0, 0, 0.18);
}

.product div h4 {
	font-size: 16px;
}

.product div h5 {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.product div img {
	display: block;
	margin: 0 auto;
}

.product div p {
	margin: 0 6px 0 6px;
}

.product div .add_item {
	display: block;
	margin: 5px auto;
}

.change_item_count {
	display: none;
}

