{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Главная{% endblock %} | TestShop</title>
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TestShop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for category in categories %}
              <li class="dropdown {% if category.slug == category_active %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ category.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for subcategory in category.subcategories.all %}
                    <li  {% if subcategory.slug == subcategory_active %}class="active"{% endif %}>
                      <a href="{% url 'subcategory' category.slug subcategory.slug  %}">{{ subcategory.title }}</a>
                    </li>
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li {% if subcategory_active == 'all' %}class="active"{% endif %}>
                    <a href="{% url 'category' category.slug %}">Все товары</a>
                  </li>
                </ul>
              </li>
            {% endfor %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li {% if add_item_url %}class="active"{% endif %}>
              <a href="{% url 'add' %}">добавить товар</a>
            </li>
            <li {% if cart_active %}class="active"{% endif %}>
              <a href="{% url 'cart' %}">Корзина</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <section>
    {% block content %}

    {% endblock %}
  </section>
  </header>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.min.js' %}"></script>
  <script>


function cart_ajax(url, item_id, item_position, count) {
  $.ajax({
    type: "POST",
    url: url,
    dataType: "json",
    async: true,
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      item_id: item_id,
      item_position: item_position,
      count: count
    },
    success: function(json){
      console.log(json);
    },
    error: function(){
      console.log('крах');
    }
  });
}
  </script>
</body>
</html>