{% extends 'base.html' %}

{% block title %}
  Корзина
{% endblock %}


{% block content %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="#">Корзина</a></li>
  </ol>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Изображение</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart_items %}
        <tr>
          <td class="item_position">{{ forloop.counter }}</td>
          <td>{{ cart_item.title }}</td>
          <td><img width="100px" src="{{ cart_item.img.thumb.url }}" alt="{{ cart_item.title }}"></td>
          <td>
            <input type="button" class="btn set_count" value="{{ cart_item.count }}">
            <a href="#" class="change_item_count">сохранить</a>
          </td>
          <td>{{ cart_item.price }}</td>
          <td><button class="btn btn-info delete_item">x</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}