{% extends 'base.html' %}


{% block title %}
  {{ product_item.title }}
{% endblock %}


{% block content %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li>
      <a href="{% url 'category' product_item.subcategory.category.slug %}">
        {{ product_item.subcategory.category.title }}
      </a>
    </li>
    <li>
      <a href="{% url 'subcategory' product_item.subcategory.category.slug product_item.subcategory.slug %}">
        {{ product_item.subcategory.title }}
     </a>
    </li>
    <li><a href="#">{{ product_item.title }}</a></li>
  </ol>

  <div class="container-fluid">
    <div class="row">
      <img src="{{ product_item.img.url }}" alt="{{ product_item.title }}">
      <h3>{{ product_item.title }}</h3>
      <p>Описание: {{ product_item.description }}</p>
      <p>Цена: <strong>{{ product_item.price }}р.</strong></p>
      <button class="btn btn-primary add_item" data-item_id="{{ product_item.id }}">Добавить в корзину</button>
    </div>
  </div>
{% endblock %}
