{% extends 'base.html' %}

{% block title %}
  {% if category_item %}
    {{ category_item.title }}
    {% elif subcategory_item %}
      {{ subcategory_item.title }}
    {% else %}
    Главная
  {% endif %}
{% endblock %}


{% block content %}

  {% if category_item %}
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="#">{{ category_item.title }}</a></li>
      </ol>
    {% elif subcategory_item %}
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="{% url 'category' subcategory_item.category.slug %}">{{ subcategory_item.category.title }}</a></li>
        <li><a href="#">{{ subcategory_item.title }}</a></li>
      </ol>
    {% else %}
      <ol class="breadcrumb">
        <li><a href="#">Каталог</a></li>
      </ol>
  {% endif %}


  <div class="container-fluid">
    <div class="row">
      {% for product in products %}
        <div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="col-lg-offset-1 col-md-offset-1">
            <a href="{% url 'product' product.subcategory.category.slug product.subcategory.slug product.slug %}">
              <img width="150px" height="225px" src="{{ product.img.thumb.url }}" alt="{{ product.title }}">
            </a>
            <a href="{% url 'product' product.subcategory.category.slug product.subcategory.slug product.slug %}">
              <h5>{{ product.title|truncatewords:4|slice:":-4" }}</h5>
            </a>
            <p>Описание: {{ product.description|truncatechars:115 }}</p>
            <p>Цена: <strong>{{ product.price }}р.</strong></p>
            <button class="btn btn-primary add_item" data-item_id="{{ product.id }}">Добавить в корзину</button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}