{% extends 'base.html' %}

{% block title %}
  Добавить в базу
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="#">Добавление товаров и категорий</a></li>
  </ol>

  <div class="container-fluid">
    <div class="row">
      <div class="form col-lg-3  col-md-4 col-sm-5">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="{% url 'add_item' 'category' %}">Добавить категорию</a></li>
          <li role="presentation"><a href="{% url 'add_item' 'subcategory' %}">Добавить подкатегорию</a></li>
          <li role="presentation"><a href="{% url 'add_item' 'product' %}">Добавить товар</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}