{% extends 'base.html' %}

{% block title %}
  {{ add_item_title }}
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'add' %}">Добавление товаров и категорий</a></li>
    <li><a href="#">{{ add_item_title }}</a></li>
  </ol>


  {% if success == 'success' %}
      <div class="alert alert-success" role="alert">Успешно добавлено!</div>
  {% endif %}

  <div class="container-fluid">
    <div class="row">
  <div class="form col-lg-3  col-md-4 col-sm-5">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" {% if add_item_url == 'category' %} class="active" {% endif %}>
            <a href="{% url 'add_item' 'category' %}">Добавить категорию</a>
          </li>
          <li role="presentation" {% if add_item_url == 'subcategory' %} class="active" {% endif %}>
            <a href="{% url 'add_item' 'subcategory' %}">Добавить подкатегорию</a>
          </li>
          <li role="presentation" {% if add_item_url == 'product' %} class="active" {% endif %}>
            <a href="{% url 'add_item' 'product' %}">Добавить товар</a>
          </li>
        </ul>
      </div>
      <div class=" col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6 col-sm-6">
        <form action="{% url 'add_item' add_item_url %}"
              method="post" {% if add_item_url == 'product' %} enctype="multipart/form-data" {% endif %}>
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit">
        </form>
      </div>
    </div>
  </div>
{% endblock %}